.button {
    --button-size: calc(var(--main-nav-h) * 0.65);
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--secondary);
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.button:hover {
    filter: brightness(1.2);
}